
 <!-- badges -->

{% for tag in collection.tags %}

{% comment %}
{% if tag == 'all-mtn' %}
 {% assign all-mtn = true %}
{% endif %}

{% if tag == 'backcountry' %}
 {% assign backcountry = true %}
{% endif %}

{% if tag == 'freeride' %}
 {% assign freeride = true %}
{% endif %}

{% if tag == 'big-mtn' %}
 {% assign big-mtn = true %}
{% endif %}

{% if tag == 'powder' %}
 {% assign powder = true %}
{% endif %}

{% if tag == 'park' %}
 {% assign park = true %}
{% endif %}

{% if tag == 'youth' %}
 {% assign youth = true %}
{% endif %}

{% if tag == 'carve' %}
 {% assign carve = true %}
{% endif %}

{% endcomment %}

{% if tag == "womens" %}
 {% assign womens = true %}
{% endif %}

{% endfor %}
{% unless page.template_suffix contains 'apparel' %}
<div class="row product-badge-row collection-badge-row">
  {% comment %}
  {%- if all-mtn -%}
  <div class="col product-badge"><img src="{{ 'badge-all-mtn.svg' | asset_url }}"></div>
  {%- endif -%}
  {%- if backcountry -%}
  <div class="col product-badge"><img src="{{ 'badge-backcountry.svg' | asset_url }}"></div>
  {%- endif -%}
  {%- if freeride -%}
  <div class="col product-badge"><img src="{{ 'badge-freeride.svg' | asset_url }}"></div>
  {%- endif -%}
  {%- if big-mtn -%}
  <div class="col product-badge"><img src="{{ 'badge-big-mtn.svg' | asset_url }}"></div>
  {%- endif -%}
  {%- if powder -%}
  <div class="col product-badge"><img src="{{ 'badge-powder.svg' | asset_url }}"></div>
  {%- endif -%}
  {%- if park -%}
  <div class="col product-badge"><img src="{{ 'badge-park.svg' | asset_url }}"></div>
  {%- endif -%}
  {%- if youth -%}
  <div class="col product-badge"><img src="{{ 'badge-youth-need-clean-version.svg' | asset_url }}"></div>
  {%- endif -%}
  {%- if carve -%}
  <div class="col product-badge"><img src="{{ 'badge-carve.svg' | asset_url }}"></div>
  {%- endif -%}
  {% endcomment %}
  {%- if womens -%}
  <div class="col product-badge"><img src="{{ 'badge-womens-purple.svg' | asset_url }}"></div>
  {%- endif -%}
</div>
{% endunless %}

{% comment %}
{% assign all-mtn = null %}

{% assign backcountry = null %}

{% assign freeride = null %}

{% assign big-mtn = null %}

{% assign powder = null %}

{% assign park = null %}

{% assign youth = null %}

{% assign carve = null %}
{% endcomment %}

{% assign womens = null %}
