
 <!-- badges -->
{% for tag in product.tags %}
 {% if tag == 'all-mtn' %}
 {% assign all-mtn = true %}
{% endif %}

{% if tag == 'backcountry' %}
 {% assign backcountry = true %}
{% endif %}

{% if tag == 'freeride' %}
 {% assign freeride = true %}
{% endif %}

{% if tag == 'big-mtn' %}
 {% assign big-mtn = true %}
{% endif %}

{% if tag == 'powder' %}
 {% assign powder = true %}
{% endif %}

{% if tag == 'park' %}
 {% assign park = true %}
{% endif %}

{% if tag == 'youth' %}
 {% assign youth = true %}
{% endif %}

{% if tag == "womens" %}
 {% assign womens = true %}
{% endif %}

{% if tag == 'carve' %}
 {% assign carve = true %}
{% endif %}

{% if tag == 'core-hybrid' %}
 {% assign hybrid = true %}
{% endif %}

{% if tag == 'core-feather' %}
 {% assign feather = true %}
{% endif %}

{% if tag == 'core-poplar' %}
 {% assign poplar = true %}
{% endif %}

{% if tag == 'reflective' %}
 {% assign reflective = true %}
{% endif %}

{% if tag == 'made-colorado' %}
 {% assign colo = true %}
{% endif %}

{% if tag == 'made-usa' %}
 {% assign usa = true %}
{% endif %}

{% if tag == 'recycled-materials' %}
 {% assign recycled = true %}
{% endif %}

{% if tag == 'organic-materials' %}
 {% assign organic = true %}
{% endif %}
{% endfor %}

<div class="row product-badge-row">
  {% if womens %}
  <div class="product-badge"><img src="{{ 'badge-womens-purple.svg' | asset_url }}"></div>
  {% endif %}
  {% if all-mtn %}
  <div class="product-badge"><img src="{{ 'badge-all-mtn.svg' | asset_url }}"></div>
  {% endif %}
  {% if backcountry %}
  <div class="product-badge"><img src="{{ 'badge-backcountry.svg' | asset_url }}"></div>
  {% endif %}
  {% if freeride%}
  <div class="product-badge"><img src="{{ 'badge-freeride.svg' | asset_url }}"></div>
  {% endif %}
  {% if big-mtn %}
  <div class="product-badge"><img src="{{ 'badge-big-mtn.svg' | asset_url }}"></div>
  {% endif %}
  {% if powder %}
  <div class="product-badge"><img src="{{ 'badge-powder.svg' | asset_url }}"></div>
  {% endif %}
  {% if park %}
  <div class="product-badge"><img src="{{ 'badge-park.svg' | asset_url }}"></div>
  {% endif %}
  {% if youth %}
  <div class="product-badge"><img src="{{ 'badge-youth-need-clean-version.svg' | asset_url }}"></div>
  {% endif %}

  {% if carve %}
  <div class="product-badge"><img src="{{ 'badge-carve.svg' | asset_url }}"></div>
  {% endif %}
  {% if poplar %}
  <div class="product-badge"><img src="{{ 'badge-poplar.png' | asset_url }}"></div>
  {% endif %}
  {% if feather %}
  <div class="product-badge"><img src="{{ 'badge-feather.png' | asset_url }}"></div>
  {% endif %}
  {% if hybrid %}
  <div class="product-badge"><img src="{{ 'badge-hybrid.png' | asset_url }}"></div>
  {% endif %}
  {% if reflective %}
  <div class="product-badge"><img src="{{ 'badge-reflective.png' | asset_url }}"></div>
  {% endif %}

  <div class="product-badge"><img src="{{ 'badge-newbomb2.png' | asset_url }}"></div>

  {% if colo %}
  <div class="product-badge"><img src="{{ 'badge-made-in-co.png' | asset_url }}"></div>
  {% endif %}

  {% if usa %}
  <div class="product-badge"><img src="{{ 'badge-made-in-usa.png' | asset_url }}"></div>
  {% endif %}

  {% if recycled %}
  <div class="product-badge"><img src="{{ 'badge-recycled.png' | asset_url }}"></div>
  {% endif %}

  {% if organic %}
  <div class="product-badge"><img src="{{ 'badge-organic.png' | asset_url }}"></div>
  {% endif %}
</div>
