{%- assign layout = section.settings.layout -%}
{%- capture layoutDirection -%}
{{ layout }}
{%- endcapture -%}
<div class="">
  <div class="row">
  {% capture image_box %}
    {% assign image_size = '680x' %}
    <div  class="col-sm-4"
    >
    {% if section.settings.image %}
    <img style="max-width: 100%" src="{{ section.settings.image | img_url: '600x600' }}">
    {% endif %}
    </div>
  {% endcapture %}
      {% if section.settings.layout == 'right' %}
      {{ image_box }}
      {% endif %}
      <div class="col-sm-8 {% if section.settings.layout == 'right' %} text-right{% endif %}">
        <div class="collection--title emphasized-title-container {{ section.settings.layout }}">
          <h1 class="section-header text-{{layoutDirection}} emphasized-title">{{ section.settings.title }}</h1>
        </div>
      <p class="text-{{layoutDirection}}" style="clear: both;">{{ section.settings.text_content }}</p>
      <div class="row">
      <div class="col-6 row">
        <div class="col-4">
          <span class="emphasized-title link-block__cta">
            {{ section.settings.cta_label }}
          </span>
        </div>
        </div>
      </div>
    </div>
      {% if section.settings.layout == 'left' %}
      {{ image_box }}
      {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Stickers CTA",
    "class": "container",
    "settings": [
      {
        "type": "radio",
        "id": "layout",
        "label": "Layout",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": {
          "pt-BR": "Imagem",
          "it": "Immagine",
          "en": "Image",
          "es": "Imagen",
          "de": "Foto",
          "ja": "画像",
          "fr": "Image"
        }
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title Text",
        "default": "Visit Our Flagship Store"
      },
      {
        "type": "richtext",
        "id": "text_content",
        "label": "Paragraph Text",
        "default": "<p>Absolutely! Just send us a self-addressed/stamped envelope to the address below and we will send you some! Please be aware that it can take up to a month or two to process your request.</p>"
      },
      {
        "type": "richtext",
        "id": "cta_link_1",
        "label": "Link 1",
        "default": "<p>Icelantic Skis</p><p>Sticker Requests</p><p>1300 Washington Ave.</p><p>Golden, CO 80401</p>"
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Blocos de links múltiplos",
          "it": "Più gruppi di link",
          "en": "Multiple link blocks",
          "es": "Enlaces múltiples",
          "de": "Mehrere Linkblöcke",
          "ja": "複数のリンクのブロック",
          "fr": "Blocs de liens multiples"
        },
        "category": "CTA"
        }
      ]
      }
{% endschema %}
