
<script
type="application/json"
data-section-type="dynamic-video"
data-section-id="{{ section.id }}"
data-section-data>
{
  "autoplay": {{ section.settings.autoplay | json }}
}
</script>
<div id="" class="home-alt-wrap" style="background-image: url('{{ section.settings.bg_image | img_url: '1600x1600' }}')">
  <div class="page-width">
    <div class="row justify-content-end ">
      <div class="col row about-section-row-inner">
        {% capture image_box %}
        <div class="col-sm-5 text-center d-flex align-items-center justify-content-center">
          {% if section.settings.image %}
            <img style="max-width: 100%; max-height: 180px;" src="{{ section.settings.image | img_url: '600x600' }}">
          {% endif %}
        </div>
        {% endcapture %}

        <div class="col-sm-7 order-2 d-flex align-items-center justify-content-end alt-block-text-box-inner" style="min-height:300px;">
          <div class=" text-right alt-block-text-box">
            {% if section.settings.title != blank %}
            <div class="collection--title text-right" style="background-color:#ffffff;">
              <h1 class="section-header text-right emphasized-title">{{ section.settings.title }}</h1>
            </div>
            {% endif %}
            <div class="text-right small-hide">
              {{ section.settings.text_content }}
            </div>
            <div class="row small-hide">
              <div class="col-12">
                {% if section.settings.cta_link %}
                <div class="">
                  <span class="link-block__cta">
                  <a class="button button-{{section.settings.cta_type}}" href="{{section.settings.cta_link}}">
                    {{ section.settings.cta_label }}
                    </a>
                  </span>
                </div>
                {% endif %}
                {% if section.settings.cta_link-2 %}
                <div class="">
                  <span class="link-block__cta">
                    <a class="button button-{{section.settings.cta_type-2}}" href="{{section.settings.cta_link-2}}">
                    {{ section.settings.cta_label-2 }}
                    </a>
                  </span>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {{ image_box }}
      </div>
    </div>
  </div>
</div>
<div class="page-width small-show text-right">
  <div style="margin-top:.5em;font-size:1em;">{{ section.settings.text_content }}</div>
  <div class="row small-show">
    <div class="col-12">
      {% if section.settings.cta_link %}
      <div class="">
        <span class="link-block__cta">
        <a class="button button-{{section.settings.cta_type}}" href="{{section.settings.cta_link}}">
          {{ section.settings.cta_label }}
          </a>
        </span>
      </div>
      {% endif %}
      {% if section.settings.cta_link-2 %}
      <div class="">
        <span class="link-block__cta">
          <a class="button button-{{section.settings.cta_type-2}}" href="{{section.settings.cta_link-2}}">
          {{ section.settings.cta_label-2 }}
          </a>
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
  {% schema %}
    {
      "name": "Home image + CTA (R)",
      "class": "index-section full-width",
      "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "section heading",
              "default": "3-Year Bombproof Warranty"
            },
            {
              "type": "richtext",
              "id": "text_content",
              "label": "Text Content",
              "default": "<p>Discover the Icelantic 3-Year. Bombproof Guarantee. Made for skis you keep</p>"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Floating Image (small and bottom centered)"
            },
            {
              "type": "image_picker",
              "id": "bg_image",
              "label": "Background Image"
            },
            {
              "type": "text",
              "id": "cta_label",
              "label": "CTA Text",
              "default": "Learn More"
            },
            {
              "type": "url",
              "id": "cta_link",
              "label": "CTA Link"
            },
            {
              "type": "radio",
              "id": "cta_type",
              "label": "Button Type",
              "options": [
              {
                "value": "primary",
                "label": "primary"
              },
              {
                "value": "secondary",
                "label": "secondary"
              }
              ],
              "default": "primary"
            },
            {
              "type": "text",
              "id": "cta_label-2",
              "label": "CTA 2 Text"
            },
            {
              "type": "url",
              "id": "cta_link-2",
              "label": "CTA 2 Link"
            },
            {
              "type": "radio",
              "id": "cta_type-2",
              "label": "Button 2 Type",
              "options": [
                {
                  "value": "primary",
                  "label": "primary"
                },
                {
                  "value": "secondary",
                  "label": "secondary"
                }
              ],
              "default": "secondary"
            }
          ],
      "presets": [
        {
          "name": "Home image + CTA (R)",
          "category": "Content"
          }
        ]
        }
  {% endschema %}
