
{% assign bg_color = section.settings.bg_color %}
<div>
<section class="promo-mosaic--container">
  <div class="home-section--content mobile-reverse  hover-feature-content d-flex">

  {% if section.settings.link %}
    <a href="{{section.settings.link}}">
  {% endif %}

    <div class="hover-feature-text-wrap column" style="color: {{section.settings.text_color}};">
      <div class="text">
        <h2 class="hov-feat" style="color:inherit !important">{{ section.settings.title }}</h2>
        <div class="hov-feat" style="color:inherit !important">{{ section.settings.copy }}</div>
      </div>
      <div class="cta text-center">
        <span class="hover-feature-cta btn button button-secondary">{{section.settings.cta_text}}</span>
      </div>
    </div>
  {% if section.settings.link %}
  </a>
  {% endif %}
    <div class="hover-feature-image-wrap">
      <img src="{{ section.settings.bg_image | img_url: '1200x' }}">
    </div>
  </div>
</section>
</div>
<style type="text/css">
.hover-feature-content > .hov-feat, .hover-feature-content > h2.hov-feat, .hover-feature-content > .hov-feat > p {
  color: {{section.settings.text_color}};
}
.hover-feature-content:hover > .hover-feature-text-wrap, .hover-feature-content:hover > a > .hover-feature-text-wrap{
  background-color: {{ bg_color }};
  color: {{section.settings.text_hov_color}} !important;
}
.hover-feature-content:hover > .hov-feat, .hover-feature-content:hover > h2.hov-feat, .hover-feature-content:hover > .hov-feat > p {
  color: {{section.settings.text_hov_color}} !important;
}
</style>


{% schema %}
{
  "name": "Hover Feature Alt",
  "class": "hover-feature-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "SHOP THE 20/21 FREERIDE COLLECTION"
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "Main Copy",
      "default": "<p>Ancient Civilizations: This year's artwork by Travis Parr</p>"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#1a1919"
    },
    {
      "type": "color",
      "id": "text_hov_color",
      "label": "Text hover color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#17385A"
    },
    {
    "type": "image_picker",
    "id": "bg_image",
    "label": "Background Image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link (optional)"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA TEXT (optional)",
      "default": "Shop"
    }
  ],
  "presets": [
    {
      "name": "Hover Feature Alt",
      "category": "Image"
    }
  ]
}

{% endschema %}
