
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-header"
  data-section-data>
  {
    "settings": {
      "live_search": {
        "enable": {{ section.settings.enable_live_search | json }},
        "enable_images": {{ section.settings.enable_live_search_images | json }},
        "enable_content": {{ section.settings.enable_live_search_articles_pages | json }},
        "money_format": {{ shop.money_format | strip_html | json }},
        "context": {
          "view_all_results": {{ 'search.general.view_all_results' | t | json }},
          "view_all_products": {{ 'search.general.view_all_products' | t | json }},
          "content_results": {
            "title": {{ 'search.general.pages_and_posts_title' | t | json }},
            "no_results": {{ 'search.general.pages_and_posts_no_results' | t | json }}
          },
          "no_results_products": {
            "title": {{ 'search.general.no_results_products_title' | t: terms: '*terms*' | json }},
            "message": {{ 'search.general.no_results_products_message' | t | json }}
          }
        }
      }
    }
  }
</script>

<div class="upper-promo-header top-nav-box" style="position:relative">
    <div class="site-header-main-content">
      <!-- <div class="small-promo">
        <ul class="row">
          {% for block in section.blocks%}
              {% if block.settings.promo_text != blank or block.settings.promo_heading != blank %}
                  {% if block.settings.promo_text_mobile != blank %}
                    <li class="small-promo-text-mobile small-show button button-outline button-small">
                      {% if block.settings.promo_link != blank %}<a class="" href="{{ block.settings.promo_link }}">{% endif %}
                        {{ block.settings.promo_text_mobile }}
                      {% if block.settings.promo_link != blank %}</a>{% endif %}
                    </li>
                  {% endif %}

                  {% if block.settings.promo_text != blank %}
                    <li class="small-promo-text-desktop small-hide button button-outline button-small">
                    {% if block.settings.promo_link != blank %}<a class="" href="{{ block.settings.promo_link }}">{% endif %}
                      {{ block.settings.promo_text }}
                    {% if block.settings.promo_link != blank %}</a>{% endif %}
                    </li>
                  {% endif %}
              {% endif %}
          {% endfor %}
        </ul>
      </div> -->
      <div>
        {%
          render 'live-search-form',
          quick_links: linklists[section.settings.quick_links],
          enable_live_search: section.settings.enable_live_search,
          enable_images: section.settings.enable_live_search_images,
          enable_content: section.settings.enable_live_search_articles_pages
        %}
        <div class="site-header-cart">
          <a class="site-header-cart--button" href="/cart">
            <span
              class="site-header-cart--count {% if cart.item_count > 0 %}visible{% endif %}"
              data-header-cart-count="{% if cart.item_count > 0 %}{{ cart.item_count }}{% endif %}">
            </span>

            {% render 'icon-cart' %}
            <span class="visually-hidden">{{ 'general.accessibility.cart' | t }}</span>
          </a>
        </div>
        <div class="small-hide">
          {% render 'site-header-actions' %}
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Header Upper",
  "class": "header-upper",
  "settings": [
    {
      "type": "header",
      "content": "Search and promos"
    },
    {
      "id": "enable_live_search",
      "type": "checkbox",
      "label": "Enable live search",
      "default": true
    },
    {
      "id": "enable_live_search_images",
      "type": "checkbox",
      "label": "Show product images in live search results",
      "default": true
    },
    {
      "id": "enable_live_search_articles_pages",
      "type": "checkbox",
      "label": "Show blog posts and pages in live search results",
      "default": true
    },
    {
      "id": "quick_links",
      "type": "link_list",
      "label": "Quick links",
      "info": "Displays menu links below the search box the first time it is opened. This menu won't show dropdown items."
    },
    {
    "type": "checkbox",
    "id": "header_promos_enabled",
    "label": "Show promos",
    "default": false
    }
  ],
  "blocks": [
    {
    "type": "header_promos",
    "name": "Header Promo",
    "settings": [
        {
          "id": "promo_text",
          "type": "text",
          "label": "btn text",
          "info": "e.g. Special Offer"
        },
        {
          "id": "promo_text_mobile",
          "type": "text",
          "label": "btn text on mobile (optional)",
          "info": "e.g. Specials"
        },
        {
          "id": "promo_link",
          "type": "url",
          "label": "Promo Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "static-header-upper",
      "category": "Headers"
    }
  ]
}
{% endschema %}
