{%- assign layout = section.settings.layout -%}
{%- capture layoutDirection -%}
{{ layout }}
{%- endcapture -%}
<div class="page-width">
  <div class="row">
  {% capture image_box %}
    {% assign image_size = '680x' %}
    <div  class="col-sm-4"
    >
    {% if section.settings.image %}
    <img style="max-width: 100%" src="{{ section.settings.image | img_url: '600x600' }}">
    {% endif %}
    </div>
  {% endcapture %}
      {% if section.settings.layout == 'right' %}
      {{ image_box }}
      {% endif %}
    <div class="col-sm-8 {% if section.settings.layout == 'right' %} text-right{% endif %}">
      <div class="collection--title emphasized-title-container {{ section.settings.layout }}">
        <h1 class="section-header text-{{layoutDirection}} emphasized-title">{{ section.settings.title }}</h1>
      </div>
      <p class="text-{{layoutDirection}}" style="clear: both;">{{ section.settings.text_content }}</p>
      <div class="row contact-cols">
        <div class="row contact-col col">
          <div class="col-3" {{ section.shopify_attributes }}
                data-bgset="{% render 'bgset', image: section.settings.pin_image %}"
                data-sizes="auto"
                data-parent-fit="cover"
            >
            <img style="max-width: 100%" src="{{ section.settings.pin_image | img_url: '40x40' }}" >
          </div>
          <div class="col-9 text-left">
            <span class="">
              {{ section.settings.cta_label }}
            </span>
          </div>
        </div>
        <div class="row contact-col col">
          <div class="col-3" {{ section.shopify_attributes }}
                data-bgset="{% render 'bgset', image: section.settings.clock_image %}"
                data-sizes="auto"
                data-parent-fit="contain"
            >
          <img style="max-width: 100%" src="{{ section.settings.clock_image | img_url: '40x40' }}">
          </div>
          <div class="col-9 text-left">
            <span class="">
              {{ section.settings.cta_label_2 }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
      {% if section.settings.layout == 'left' %}
      {{ image_box }}
      {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Find Us CTA",
    "class": "container",
    "settings": [
      {
        "type": "radio",
        "id": "layout",
        "label": "Layout",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": {
          "pt-BR": "Imagem",
          "it": "Immagine",
          "en": "Image",
          "es": "Imagen",
          "de": "Foto",
          "ja": "画像",
          "fr": "Image"
        }
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title Text",
        "default": "Visit Our Flagship Store"
      },
      {
        "type": "richtext",
        "id": "text_content",
        "label": "Paragraph Text",
        "default": "<p>Icelantic has moved its HQ to the historic downtown of Golden, CO. The move to Golden, is a new chapter of the Icelantic story and allows us to easily practice what we preach…Returning To Nature. It also gives us the opportunity to invite people into our first ever retail space, welcoming you to experience and support the brand first hand. If you are ever in the area, please come by to check out the store and meet the people behind Icelantic.</p>"
      },
      {
        "type": "image_picker",
        "id": "pin_image",
        "label": "Locator image"
      },
      {
        "type": "richtext",
        "id": "cta_label",
        "label": {
          "pt-BR": "Etiqueta de link",
          "it": "Etichetta link",
          "en": "Link label",
          "es": "Vincular etiqueta",
          "de": "Link-Label",
          "ja": "リンクラベル",
          "fr": "Étiquette de lien"
        },
        "default": "<p>1300 Washington Avenue</p><p>Golden, Colorado 80401</p>"
      },
      {
        "type": "image_picker",
        "id": "clock_image",
        "label": "Hours image"
      },
      {
        "type": "richtext",
        "id": "cta_label_2",
        "label": {
          "pt-BR": "Etiqueta de link",
          "it": "Etichetta link",
          "en": "Link label",
          "es": "Vincular etiqueta",
          "de": "Link-Label",
          "ja": "リンクラベル",
          "fr": "Étiquette de lien"
        },
        "default": "<p> Monday - Saturday: 11am - 8pm</p><p>Sunday: 11am - 6pm</p>"
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Blocos de links múltiplos",
          "it": "Più gruppi di link",
          "en": "Multiple link blocks",
          "es": "Enlaces múltiples",
          "de": "Mehrere Linkblöcke",
          "ja": "複数のリンクのブロック",
          "fr": "Blocs de liens multiples"
        },
        "category": "CTA"
        }
      ]
      }
{% endschema %}
