
<script
type="application/json"
data-section-type="dynamic-video"
data-section-id="{{ section.id }}"
data-section-data>
{
  "autoplay": {{ section.settings.autoplay | json }}
}
</script>
<div id="" class="home-alt-wrap" style="background-image: url('{{ section.settings.bg_image | img_url: '1600x1600' }}')">
  <div class="page-width">
    <div class="row">
      <div class="col row about-section-row-inner">
        {% capture image_box %}
        <div class="col-3 col-sm-5 text-center">
          {% if section.settings.image %}
          <img style="max-width: 100%; max-height: 400px;" src="{{ section.settings.image | img_url: '600x600' }}">
          {% endif %}
        </div>
        {% endcapture %}
        {{ image_box }}
        <div class="col-9 col-sm-7 alt-block-text-box-inner" style="min-height:300px;">
          <div class="alt-block-text-box">
            {% if section.settings.title != blank %}
            <div class="collection--title text-left" style="background-color:#ffffff;">
              <h1 class="section-header text-right emphasized-title">{{ section.settings.title }}</h1>
            </div>
            {% endif %}
            <div class="text-left small-hide">{{ section.settings.text_content }}</div>
            <div class="row small-hide text-right">
              <div class="col-12">
                {% if section.settings.cta_link %}
                <div class="">
                  <span class="link-block__cta">
                    <a class="button button-{{section.settings.cta_type}}" href="{{section.settings.cta_link}}">
                      {{ section.settings.cta_label }}
                    </a>
                  </span>
                </div>
                {% endif %}
                {% if section.settings.cta_link-2 %}
                <div class="">
                  <span class="link-block__cta">
                    <a class="button button-{{section.settings.cta_type-2}}" href="{{section.settings.cta_link-2}}">
                      {{ section.settings.cta_label-2 }}
                    </a>
                  </span>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="page-width small-show text-left">
  <div style="margin-top:.5em;font-size:1em;">{{ section.settings.text_content }}</div>
  <div class="row small-show">
    <div class="col-12">
      {% if section.settings.cta_link %}
      <div class="">
        <span class="link-block__cta">
        <a class="button button-{{section.settings.cta_type}}" href="{{section.settings.cta_link}}">
          {{ section.settings.cta_label }}
          </a>
        </span>
      </div>
      {% endif %}
      {% if section.settings.cta_link-2 %}
      <div class="">
        <span class="link-block__cta">
          <a class="button button-{{section.settings.cta_type-2}}" href="{{section.settings.cta_link-2}}">
          {{ section.settings.cta_label-2 }}
          </a>
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
  {% schema %}
    {
      "name": "Home image + CTA (L)",
      "class": "index-section full-width pad-small",
      "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "section heading",
              "default": "#ReturnToNature"
            },
            {
              "type": "richtext",
              "id": "text_content",
              "label": "Text Content",
              "default": "<p>#ReturnToNature is a simple reminder for us to breathe deeply; to sit in stillness and enter the wilderness in our own psyche. We all carry the entrance to this place of renewal with us, and so often we look somewhere else for it.  Returning to nature is returning to self, to those things that feed us, teach us, show us and grow us.  Everything we need and want, our purpose here on this earth already exists, and if you’ve forgotten this, or are just waking up to the idea, #ReturnToNature and see what you’ll find</p>"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Floating Image"
            },
            {
              "type": "image_picker",
              "id": "bg_image",
              "label": "Background Image"
            },
            {
              "type": "text",
              "id": "cta_label",
              "label": "CTA Text",
              "default": "Learn More"
            },
            {
              "type": "url",
              "id": "cta_link",
              "label": "CTA Link"
            },
            {
              "type": "radio",
              "id": "cta_type",
              "label": "Button Type",
              "options": [
              {
                "value": "primary",
                "label": "primary"
              },
              {
                "value": "secondary",
                "label": "secondary"
              }
              ],
              "default": "primary"
            },
            {
              "type": "text",
              "id": "cta_label-2",
              "label": "CTA 2 Text"
            },
            {
              "type": "url",
              "id": "cta_link-2",
              "label": "CTA 2 Link"
            },
            {
              "type": "radio",
              "id": "cta_type-2",
              "label": "Button 2 Type",
              "options": [
                {
                  "value": "primary",
                  "label": "primary"
                },
                {
                  "value": "secondary",
                  "label": "secondary"
                }
              ],
              "default": "secondary"
            }
          ],
      "presets": [
        {
          "name": "Home image + CTA (L)",
          "category": "Content"
          }
        ]
        }
  {% endschema %}
