<div class="page-width">
  <div class="section-block section-block--padding">
    {% if section.settings.title != blank %}
      <div class="section-block__header text-center">
        <h2 class="section-block__title">{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    <div class="row">
      {% for block in section.blocks %}
        
        <div class="col-6 col-md-4 col-xl-3 text-center" {{ block.shopify_attributes }}>
          <div class="flex__item flex-brand">
            {% if block.settings.brand_url %}
              <a href="{{block.settings.brand_url}}">
            {% endif %}
            <div class="image-block">
              {% if block.settings.image != blank %}
                <img style="max-width:100%" src="{{ block.settings.image | img_url: '800x800' }}" alt="{{ block.settings.image.alt }}" class="image-block__image">
              {% else %}
                <div class="image-block__image">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </div>
            <div class="text-center">
              <h3 style="margin-top: 10px;">{{block.settings.brand_name}}</h3 style="margin-top: 10px;">
            </div>
            {% if block.settings.brand_url %}
              </a>
            {% endif %}
          </div>
        </div>
        
      {% endfor %}
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Brand Logos",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "pt-BR": "Título",
          "it": "Heading",
          "en": "Heading",
          "es": "Título",
          "de": "Titel",
          "ja": "見出し",
          "fr": "Titre"
        },
        "default": {
          "pt-BR": "Lista de logotipos",
          "it": "Elenco loghi",
          "en": "Logo list",
          "es": "Lista de logotipos",
          "de": "Logoliste",
          "ja": "ロゴリスト",
          "fr": "Liste des logos"
        }
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": {
          "pt-BR": "Logotipo",
          "it": "Logo",
          "en": "Logo",
          "es": "Logotipo",
          "de": "Logo",
          "ja": "ロゴ",
          "fr": "Logo"
        },
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "pt-BR": "Imagem",
              "it": "Immagine",
              "en": "Image",
              "es": "Imagen",
              "de": "Foto",
              "ja": "画像",
              "fr": "Image"
            }
          },
          {
            "type": "text",
            "id": "brand_name",
            "label": "Brand Name"
          },
          {
            "type": "url",
            "id": "brand_url",
            "label": "Brand URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Lista de logotipos",
          "it": "Elenco loghi",
          "en": "Retail Partners",
          "es": "Lista de logotipos",
          "de": "Logoliste",
          "ja": "ロゴリスト",
          "fr": "Liste des logos"
        },
        "category": {
          "pt-BR": "Imagem",
          "it": "Immagine",
          "en": "Image",
          "es": "Imagen",
          "de": "Foto",
          "ja": "画像",
          "fr": "Image"
        },
        "blocks": [
          {
            "type": "logo"
          }
        ]
      }
    ]
  }
{% endschema %}
