<script
  type="application/json"
  data-section-type="static-slideshow"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "enable_autoplay": {{ section.settings.enable_autoplay | json }},
    "autoplay_duration": {{ section.settings.autoplay_duration | json }}
  }
</script>

  <section
    class="
      slideshow
      slideshow-dots-{{ section.settings.slideshow_height }}
    "
    aria-label="Slide show"
  >
    {% for block in section.blocks %}
      {% capture placeholder_slide_image %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {% assign placeholder_style = 'lifestyle-' | append: current %}
        {%-
          render 'placeholder_svg_uri'
          placeholder: placeholder_style
        -%}
      {% endcapture %}

      <div
        class="
          slideshow-slide
          slideshow-height-{{ section.settings.slideshow_height }}
        "
        tabindex="0"
        aria-label="Slide {{ forloop.index }} of {{ section.blocks.size }}"
        {{ block.shopify_attributes }}
      >
        {% if block.settings.link != blank %}
          <a
            class="
              slideshow-link
              slideshow-background-link
              slideshow-height-{{ section.settings.slideshow_height }}
            "
            href="{{ block.settings.link }}"
            tabindex="-1"
          ></a>
        {% endif %}

        {% assign slideshow_crop = 'center' %}

        {% if section.settings.slideshow_height == 'original' %}
          {% assign slideshow_crop = false %}
        {% endif %}

        <div
          class="
            background-target
            background-target-{{ forloop.index }}
            slideshow-background
            slideshow-background-video
            slideshow-background--{{ block.id }}
            {% if section.settings.sticky %}slideshow-background-sticky{% endif %}
            slideshow-height-{{ section.settings.slideshow_height }}
            {% if block.settings.background_image == blank %}
              placeholder--image
            {% endif %}
          "
        >
        {% render 'video-excerpt' isHeader: true %}
      </div>
      {% render 'header-image-helper' index=forloop.index %}
    {% endfor %}

    {%
      render 'slideshow-overlay',
      blocks: section.blocks
    %}
  </section>
{% schema %}
{
  "name": "Video Header",
  "class": "slideshow--section header",
  "settings": [
    {
      "id": "slideshow_height",
      "type": "select",
      "label": "Slideshow height",
      "options": [
        {
          "value": "small",
          "label": "Small - 340"
        },
        {
          "value": "medium",
          "label": "Medium - 400"
        },
        {
          "value": "large",
          "label": "Large - 560"
        },
        {
          "value": "dynamic",
          "label": "Dynamic"
        }
      ],
      "default": "dynamic"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile View)"
        },
        {
          "id": "color",
          "type": "color",
          "label": "Text color",
          "default": "#1a1919"
        },
        {
          "id": "text_alignment",
          "type": "select",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "header",
          "content": "Overlay"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "slide"
      },
      {
        "type": "slide"
      }
    ]
  }
}

{% endschema %}
