<script
  type="application/json"
  data-section-type="static-collection"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "context": {
      "see_more": {{ 'general.general.see_more' | t | json }},
      "see_less": {{ 'general.general.see_less' | t | json }},
      "collectionUrl": {{ collection.url | default: '/collections/all' | json }}
    }
  }
</script>

{% assign show_sidebar = false %}
{% assign show_filters = true %}
{% assign show_filter_trigger = false %}

{% if section.settings.filter_style == 'none' %}
  {% assign show_filters = false %}
{% endif %}

{%- capture collection_classes -%}
  {% if show_sidebar %}
    layout--has-sidebar
  {% else %}
    layout--no-sidebar
  {% endif %}
{%- endcapture -%}

{% for block in section.blocks %}
{% assign collection = collections[block.settings.custom-collection] %}
  <div class="productgrid--outer {{ collection_classes | strip_newlines }}">
    {% if show_sidebar %}
      {%
        render 'product-grid-sidebar',
        filter_style: section.settings.filter_style,
        filter_position: section.settings.filter_position,
        filter_limit: section.settings.filter_limit,
        menu_depth: section.settings.menu_depth_range
      %}
    {% endif %}

    <div class="productgrid--wrapper">

      <div class="productgrid--masthead">

        <div class="collection--information">
          <h1 class="collection--title">
            {{ block.settings.heading }}
          </h1>

          {% if block.settings.subheading != blank %}
            <div class="collection--description rte text-center">
               {{ block.settings.subheading }}
            </div>
          {% endif %}
        </div>

        {% if current_tags.size > 0 %}
          <div class="productgrid--filters">
            {%- render 'product-grid-tags-active' %}
          </div>
        {% endif %}
      </div>

      {% if collection.products.size > 0 %}
        <ul class="productgrid--items">
          {% for product in collection.products %}
            {%- comment %}<locksmith:38b0>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:38b0>{% endcomment -%}
            {%
              render 'product-grid-item',
              product: product
            %}
          {% endfor %}
        </ul>
      {% else %}
        <div class="productgrid--no-results">
          <h2 class="productgrid--no-results-title">
            {%- if collection.all_products_count == 0 -%}
              {{ 'product_grid.no_results.empty' | t }}
            {%- else -%}
              {{ 'product_grid.no_results.tags_empty' | t }}
            {%- endif -%}
          </h2>

          <a class="productgrid--no-results-button" href="/collections/all">
            {{ 'search.general.view_all_products' | t }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
{%- if section.settings.sort_by -%}
  {%-
    render 'product-grid-sortby',
    type: 'modal',
  -%}
{%- endif -%}

{% render 'quick-shop' %}

{% schema %}
{
  "name": "MTN SWIM MULTI",
  "class": "collection--section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_page_range",
      "label": "Products per page",
      "min": 24,
      "max": 48,
      "step": 12,
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "collection",
          "id": "custom-collection",
          "label": "Collection"
        }
      ]
    }
  ]
}

{% endschema %}
