{%- assign layout = section.settings.layout -%}
{%- capture layoutDirection -%}
{{ layout }}
{%- endcapture -%}
<div class="">
  <div class="row">
  {% capture image_box %}
    {% assign image_size = '680x' %}
    <div  class="col-sm-4"
    >
    {% if section.settings.image %}
    <img style="max-width: 100%" src="{{ section.settings.image | img_url: '600x600' }}">
    {% endif %}
    </div>
  {% endcapture %}
      {% if section.settings.layout == 'right' %}
      {{ image_box }}
      {% endif %}
      <div class="col-sm-8 {% if section.settings.layout == 'right' %} text-right{% endif %}">
        <div class="collection--title emphasized-title-container {{ section.settings.layout }}">
          <h1 class="section-header text-{{layoutDirection}} emphasized-title">{{ section.settings.title }}</h1>
        </div>
      <p class="text-{{layoutDirection}}" style="clear: both;">{{ section.settings.text_content }}</p>
      {% if cta_link_1 %}
      <div class="row">
        <div class="col-4">
          <span class="link-block__cta">
          <a class="button button-primary" href="{{cta_link_1}}">
            {{ section.settings.cta_label }}
            </a>
          </span>
        </div>
      </div>
      {% endif %}
    </div>
      {% if section.settings.layout == 'left' %}
      {{ image_box }}
      {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Jobs CTA",
    "class": "container",
    "settings": [
      {
        "type": "radio",
        "id": "layout",
        "label": "Layout",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": {
          "pt-BR": "Imagem",
          "it": "Immagine",
          "en": "Image",
          "es": "Imagen",
          "de": "Foto",
          "ja": "画像",
          "fr": "Image"
        }
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title Text",
        "default": "Visit Our Flagship Store"
      },
      {
        "type": "richtext",
        "id": "text_content",
        "label": "Paragraph Text",
        "default": "<p>Icelantic has moved its HQ to the historic downtown of Golden, CO. The move to Golden, is a new chapter of the Icelantic story and allows us to easily practice what we preach…Returning To Nature. It also gives us the opportunity to invite people into our first ever retail space, welcoming you to experience and support the brand first hand. If you are ever in the area, please come by to check out the store and meet the people behind Icelantic.</p>"
      },
      {
        "type": "link_list",
        "id": "cta_link_1",
        "label": "Link 1"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": {
          "pt-BR": "Etiqueta de link",
          "it": "Etichetta link",
          "en": "Link label",
          "es": "Vincular etiqueta",
          "de": "Link-Label",
          "ja": "リンクラベル",
          "fr": "Étiquette de lien"
        },
        "default": "Ext Jobs Page"
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Blocos de links múltiplos",
          "it": "Più gruppi di link",
          "en": "Multiple link blocks",
          "es": "Enlaces múltiples",
          "de": "Mehrere Linkblöcke",
          "ja": "複数のリンクのブロック",
          "fr": "Blocs de liens multiples"
        },
        "category": "CTA"
        }
      ]
      }
{% endschema %}
