<script
  type="application/json"
  data-section-type="static-collection"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "context": {
      "see_more": {{ 'general.general.see_more' | t | json }},
      "see_less": {{ 'general.general.see_less' | t | json }},
      "collectionUrl": {{ collection.url | default: '/collections/all' | json }}
    }
  }
</script>

{% assign show_sidebar = false %}
{% assign show_filters = true %}
{% assign show_filter_trigger = false %}

{% if section.settings.filter_style == 'none' %}
  {% assign show_filters = false %}
{% endif %}

{%- capture collection_classes -%}
  {% if show_sidebar %}
    layout--has-sidebar
  {% else %}
    layout--no-sidebar
  {% endif %}
{%- endcapture -%}

<h3 class="text-center">Shop by Year</h3>
<nav role="navigation" class="container">
  <ul class="nav nav-tabs row d-flex justify-content-center about-nav"  data-desktop-navigation-list>
    {% for link in linklists[section.settings.navlist].links %}
      {%- comment %}<locksmith:9b57>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.navlist], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:9b57>{% endcomment -%}
      {%- assign child_list_handle = link.title -%}
      <li class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="{{link.url}}">
          <div class="tab-content">
            <h4 class="text-center">{{child_list_handle}}</h4>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>


{% for meta in page.metafields['global'] %}

{%- capture metaFirst -%}
  {{- meta | first -}}
{%- endcapture -%}
{%- capture metaHandle -%}
  {{- meta | last -}}
{%- endcapture -%}
{% if metaFirst contains 'collec' %}
{% assign collection = collections[metaHandle] %}
<div class="collection--information emphasized-title-container {% cycle 'left', 'right' %}">
  <h1 class="collection--title">
    <a href="{{ collection.url }}">{{ collection.title }}</a>
  </h1>
</div>
{% if collection.metafields['global']['hero_image'] %}
{% assign newImage = collection.metafields['global']['hero_image'] %}
  <div class="image-box-full-width">
    <img src="{{ newImage  }}" alt="" style="width: 100%;">
  </div>
{% endif %}

<div class="productgrid--outer {{ collection_classes | strip_newlines }}">
  {% if show_sidebar %}
    {%
      render 'product-grid-sidebar',
      filter_style: section.settings.filter_style,
      filter_position: section.settings.filter_position,
      filter_limit: section.settings.filter_limit,
      menu_depth: section.settings.menu_depth_range
    %}
  {% endif %}

  <div class="productgrid--wrapper productgrid--wrapper collection--section {% cycle 'collection-left', 'collection-right' %}">

    <div class="productgrid--masthead {% cycle 'left', 'right' %}">
        {% if collection.description %}
        <div class="description-box">
          <p>{{ collection.description }}</p>
        </div>
        {% endif %}
      {% if current_tags.size > 0 %}
        <div class="productgrid--filters">
          {%- render 'product-grid-tags-active' %}
        </div>
      {% endif %}
    </div>
    {% if collection.products.size > 0 %}
      <ul class="productgrid--items three-quarters">
        {% for product in collection.products limit: 4 %}
          {%- comment %}<locksmith:122b>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:122b>{% endcomment -%}
          {%
            render 'product-grid-item',
            product: product
          %}
        {% endfor %}
        <div class="product-grid-button">
          <a class="button button-primary" href="{{ collection.url }}">Shop the Series</a>
        </div>
      </ul>
    {% else %}
      <div class="productgrid--no-results">
        <h2 class="productgrid--no-results-title">
          {%- if collection.all_products_count == 0 -%}
            {{ 'product_grid.no_results.empty' | t }}
          {%- else -%}
            {{ 'product_grid.no_results.tags_empty' | t }}
          {%- endif -%}
        </h2>

        <a class="productgrid--no-results-button" href="/collections/all">
          {{ 'search.general.view_all_products' | t }}
        </a>
      </div>
    {% endif %}

  </div>
</div>

{% endif %}
{% endfor %}
{%- if section.settings.sort_by -%}
  {%-
    render 'product-grid-sortby',
    type: 'modal',
  -%}
{%- endif -%}

{% render 'quick-shop' %}

{% schema %}
{
  "name": "art MULTI",
  "class": "collection--section multi-collection",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "link_list",
      "id": "navlist",
      "label": "Nav list for art colelction Nav"
    }
  ]
}

{% endschema %}
