{% for tag in product.tags %}
  {% if tag contains 'all-mtn-rating-' %}
    {% assign mtnArray = tag | split: '-' %}
    {% assign mtnTag = mtnArray.last | plus: 0 %}
  {% endif %}
  {% if tag contains 'big-mtn-rating-' %}
    {% assign bigArray = tag | split: '-' %}
    {% assign bigTag = bigArray.last | plus: 0 %}
  {% endif %}
  {% if tag contains 'freeride-rating-' %}
    {% assign freerideArray = tag | split: '-' %}
    {% assign freerideTag = freerideArray.last | plus: 0 %}
  {% endif %}
  {% if tag contains 'carve-rating-' %}
    {% assign carveArray = tag | split: '-' %}
    {% assign carveTag = carveArray.last | plus: 0 %}
  {% endif %}
  {% if tag contains 'powder-rating-' %}
    {% assign powderArray = tag | split: '-' %}
    {% assign powderTag = powderArray.last | plus: 0 %}
  {% endif %}
  {% if tag contains 'park-rating-' %}
    {% assign parkArray = tag | split: '-' %}
    {% assign parkTag = parkArray.last | plus: 0 %}
  {% endif %}
  {% if tag contains 'profile-' %}
    {% assign profileArray = tag | split: '-' %}
    {% assign profileTag = profileArray.last %}
  {% endif %}
{% endfor %}

<div class="ratings">
  <div class="row">
    <div class="col col-9 col-sm-6">
      <p>All MTN:</p>
      <p class="rating {{mtnTag}}">
        {% for dot in (1..3) %}
        <span class="dot {% if forloop.index <= mtnTag or forloop.first %}fill{% endif %}"></span>
        {% endfor %}
      </p>
    </div>
    <div class="col col-9 col-sm-6">
      <p>Freeride:</p>
      <p class="rating {{freerideTag}}">
        {% for dot in (1..3) %}
        <span class="dot {% if forloop.index <= freerideTag or forloop.first %}fill{% endif %}"></span>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-9 col-sm-6">
      <p>Big MTN:</p>
      <p class="rating {{bigTag}}">
        {% for dot in (1..3) %}
        <span class="dot {% if forloop.index <= bigTag or forloop.first %}fill{% endif %}"></span>
        {% endfor %}
      </p>
    </div>
    <div class="col col-9 col-sm-6">
      <p>Carve:</p>
      <p class="rating {{carveTag}}">
        {% for dot in (1..3) %}
        <span class="dot {% if forloop.index <= carveTag or forloop.first %}fill{% endif %}"></span>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-9 col-sm-6">
      <p>Powder:</p>
      <p class="rating {{powderTag}}">
        {% for dot in (1..3) %}
        <span class="dot {% if forloop.index <= powderTag or forloop.first %}fill{% endif %}"></span>
        {% endfor %}
      </p>
    </div>
    <div class="col col-9 col-sm-6">
      <p>Park:</p>
      <p class="rating {{parkTag}}">
        {% for dot in (1..3) %}
        <span class="dot {% if forloop.index <= parkTag or forloop.first %}fill{% endif %}"></span>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
