  <div
    class="vimeo {% if slideshow %}hide-player{% endif %}"
    data-video-element
    data-video-url="{{ article.excerpt }}"
    style="flex:1"
  >
    <div>
      {% unless isHeader %}
      <div class="excerpt-cover-image" onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
        {% if featured %}
        <img src="{{ article.image | img_url: '1200x' }}" style="cursor:pointer; width: 100%;" />
        {% else %}
        <img src="{{ article.image | img_url: '400x' }}" style="cursor:pointer; width: 100%;" />
        {% endif %}
        <button id="play_{{article.id}}" class="video-play-button" onclick='$("#video_{{article.id}}")[0].src += "&autoplay=1"; document.getElementById("video_{{article.id}}").contentWindow.location.reload(true);'>
          {% render 'icon-library', id: 'icon-play' %}
          {% render 'icon-library', id: 'icon-loading' %}
        </button>
      </div>
      {% endunless %}
      <div class="article-video-wrap" {% unless isHeader %}style="display:none"{% endunless %}>
        {% assign excerptArray = article.excerpt | split: '/' %}
        {% assign video_id = excerptArray.last %}
        <iframe id="video_{{article.id}}" src="https://player.vimeo.com/video/{{video_id}}?title=0&byline=0&portrait=0&sidedock=0" frameborder="0" title="" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>


